* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #150e28;
  color: #fff;
  cursor: pointer;
  overscroll-behavior-y: hidden;
  overflow-x: hidden;
  width: 100%;
}
header {
  border-bottom: 1px solid #ffffff6c;
  background: linear-gradient(50deg, #3b2a6b 20%, #150e28 40%);
  margin: 0px;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 30px 20px;
  width: 100%;
}
nav h1 {
  font-size: 30px;
}
h1 span {
  color: #d434fe;
}
.list {
  display: flex;
}
nav ul {
  display: flex;
  margin-right: 100px;
}
nav ul li {
  list-style: none;
  padding-left: 50px;
}
nav ul li a {
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s ease-in-out;
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  border-bottom: 2px solid #f800ec;
  color: #f15395;
}
.btn {
  padding: 10px 30px;
  background: linear-gradient(90deg, #d434fe 60%, #5328c9 100%);
  color: #fff;
  transition: 1s ease-in-out;
}
nav .btn:hover {
  color: #a05d79;
}

.sticky {
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 800px) {
  header {
    padding: 10px;
  }
  nav {
    margin: 0;
    justify-content: space-around;
  }

  .list {
    display: none;
  }
}
.hamburger {
  z-index: 100;
  padding: 4px;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
}

.hamburger .firsth {
  width: 10px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
}

.hamburger .second {
  width: 20px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
}
.hamburger .third {
  width: 10px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
  margin-left: 10px;
}

.closeIcon {
  display: none;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #251947;
  width: 500px;
  height: 500px;
  list-style: none;
  padding-top: 4rem;
  padding: 50px;
}
.menu ul {
  display: block;
  margin-bottom: 30px;
}
.menu ul li {
  margin-bottom: 40px;
}
.menu ul li a {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.showMenu {
  transform: translateY(0);
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

.flare {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 4px;
  bottom: 0;
  z-index: -1;
}
.stars-set {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}
.star {
  animation: blinking 2s steps(5, start) infinite;
  width: 30px;
  height: 30px;
  margin: 40px 10px;
  z-index: -1;
}
@keyframes blinking {
  to {
    visibility: hidden;
  }
}
.txt {
  color: #d434fe;
}
.form-field {
  margin: 20px 300px;
  display: flex;
}
.form-text {
  width: 100%;
  margin-top: 50px;
}
.form-text p {
  padding-top: 20px;
}
.form {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 500px;
  padding: 40px 100px;
  border-radius: 5px;
}
.input-txt {
  padding-bottom: 40px;
}
.input-txt h2 {
  padding-bottom: 10px;
  font-size: 20px;
}
.input-txt p {
  display: none;
}

.form input {
  display: block;
  margin-bottom: 30px;
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #aaa6a6;
  border-radius: 5px;
  color: #fff;
}

.form input::placeholder {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 20px 5px;
  background-color: transparent;
  border: 1px solid #aaa6a6;
  border-radius: 5px;
  color: #fff;
}
textarea::placeholder {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn2 {
  padding: 10px 50px;
  border-radius: 5px;
  background: linear-gradient(90deg, #d434fe 60%, #5328c9 100%);
  color: #fff;
  transition: 1s ease-in-out;
  margin: 20px 50px;
}
.socials {
  display: none;
  margin-left: 50px;
}
@media only screen and (max-width: 800px) {
  .form-field {
    margin: 20px 50px;
    display: block;
  }
  .form-text {
    display: none;
  }
  .input-txt p {
    display: block;
  }
  .form {
    background: none;
    box-shadow: none;
  }
  .socials {
    display: block;
    padding-bottom: 20px;
  }
}
