* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #150e28;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
header {
  border-bottom: 1px solid #ffffff6c;
  background: linear-gradient(50deg, #3b2a6b 20%, #150e28 40%);
  margin: 0px;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 30px 20px;
  width: 100%;
}
nav h1 {
  font-size: 30px;
}
h1 span {
  color: #d434fe;
}
.list {
  display: flex;
}
nav ul {
  display: flex;
  margin-right: 100px;
}
nav ul li {
  list-style: none;
  padding-left: 50px;
}
nav ul li a {
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s ease-in-out;
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  border-bottom: 2px solid #f800ec;
  color: #f15395;
}
.btn {
  padding: 10px 30px;
  background: linear-gradient(90deg, #d434fe 60%, #5328c9 100%);
  color: #fff;
  transition: 1s ease-in-out;
}
nav .btn:hover {
  color: #a05d79;
}

.sticky {
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 800px) {
  header {
    padding: 10px;
  }
  nav {
    margin: 0;
    justify-content: space-around;
  }

  .list {
    display: none;
  }
}
.hamburger {
  z-index: 100;
  padding: 4px;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
}

.hamburger .firsth {
  width: 10px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
}

.hamburger .second {
  width: 20px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
}
.hamburger .third {
  width: 10px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
  margin-left: 10px;
}

.closeIcon {
  display: none;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #251947;
  width: 500px;
  height: 500px;
  list-style: none;
  padding-top: 4rem;
  padding: 50px;
}
.menu ul {
  display: block;
  margin-bottom: 30px;
}
.menu ul li {
  margin-bottom: 40px;
}
.menu ul li a {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.showMenu {
  transform: translateY(0);
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

.form-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 100px;
}
.form-image {
  width: 100%;
}
.form-image img {
  width: 100%;
}
.form {
  width: 100%;
  height: 90vh;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.form-txt {
  margin-bottom: 20px;
}
.form-txt h2 {
  padding-bottom: 20px;
}
.form-txt h2 {
  padding-bottom: 20px;
}
.form-txt p {
  padding-bottom: 10px;
}
.inputs {
  display: flex;
  align-items:center;
  margin-bottom: 30px;
}
label {
  margin-right: 30px;
}
.form-inputs input {
  padding: 10px 40px;
  width: 100%;
  background: transparent;
  border: 1px solid #ffffff7a;
  margin-top: 10px;
  color: #fff;
}
form input::placeholder {
  color: #ffffff6e;
}
select {
  padding: 10px 60px;
  width: 100%;
  background: transparent;
  color: #fff;
  margin-top: 10px;
}
select option {
  color: #000;
}
.check {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.btn2 {
  padding: 10px 0px;
  background: linear-gradient(90deg, #d434fe 60%, #5328c9 100%);
  color: #fff;
  transition: 1s ease-in-out;
  margin: 30px 0px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .form-field {
    display: block;
    margin: 20px 40px;
  }
  .form {
    padding: 20px 50px;
    height: 80vh;
  }
  .form p {
    font-size: 15px;
  }
  .check p {
    font-size: 10px;
  }
  .form-inputs input {
    padding: 10px 10px;
  }
  form input::placeholder {
    font-size: 10px;
  }
  select {
    padding: 10px 10px;
  }
}
